
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/foggycoast.jpeg' alt='A photo of a coast.'/></li>
      <li><img src='/images/remote2.jpeg' alt='A photo of a a rocky remote house.'/></li>
    </ul>
  
