<h1>Rectangle</h1>

<p>
  Add side length.
</p>
<form class="" action="/results" method='get'>
  <label for="length">Length</label>
  <input id="length" type="number" name="length" value="">
  <label for="width">Width</label>
  <input id="width" type="number" name="width" value="">

  <button type="submit" class="btn btn-default" name="button">Go!</button>

</form>
